{% extends "main.html" %}
{% block content %}

    {% if request.user.is_authenticated %}
        <p>{{ request.user }}</p>
        <a href="">Logout</a>

        <hr>
        <h1>Hello {{ request.user }}</h1>
    {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}


    <table>
        <tr>
            <th>To Do</th>
        </tr>

        {% for task in tasks %}
            <tr>
                <td>{{ task.title | truncatechars:10 }}</td>

                <td><a href="{% url 'task-details' task.id %}">view</a></td>
                <td><a href="{% url 'task-edit' task.id %}">change</a></td>
                <td><a href="{% url 'task-delete' task.id %}">del</a></td>
            </tr>


        {% endfor %}
    </table>

    <br>
    <button><a href="{% url 'task-create' %}">Create a Task</a></button>
    <style>
        table {
            font-size: 20px;
            margin: 10px 10px 10px 10px;

        }

        td tr {
            align-content: center;
        }
    </style>
{% endblock %}
